body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #f8f5f2, #ece4f5);
    color: #333;
}

/* NAVBAR */

.navbar-custom{
    background-color: #765185;
    padding: 15px;
}

.titulo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.nav-link{
    color: white !important;
    font-weight: bold;
    margin-left: 15px;
    transition: 0.3s;
}

.nav-link:hover{
    color: #d8c3ff !important;
}

/* CAJA INFORMACIÓN */

.info-box{
    background: white;
    padding: 40px;
    border-radius: 25px;
    height: 100%;
    transition: 0.4s;
    border-left: 10px solid #765185;
}

.info-box:hover{
    transform: translateY(-8px);
}

.titulo-info{
    font-size: 2.3rem;
    font-weight: bold;
    color: #5c4188;
}

/* CAJA CREADORES */

.creadores-box{
    background: white;
    padding: 40px;
    border-radius: 25px;
    transition: 0.4s;
}

.creadores-box:hover{
    transform: translateY(-8px);
}

/* TARJETAS */

.card-creador{
    border: none;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.4s;
}

.card-creador:hover{
    transform: scale(1.03);
}

.imagen-creador{
    height: 250px;
    object-fit: cover;
}

/* FOOTER */

.footer-custom{
    background-color: #5c4188;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

/* RESPONSIVE */

@media(max-width:992px){

    .info-box{
        margin-bottom: 30px;
    }

}

@media(max-width:768px){

    .titulo-info{
        font-size: 2rem;
    }

    .info-box,
    .creadores-box{
        padding: 25px;
    }

}