.adnamain {
    color:hwb(271 1% 76%)
}

.acercade { 
    color:hwb(271 1% 76%)
}

.tituloadna {
    font-family: Arial, sans-serif;
}

.navbar{
    height: 50px;
}

footer{

    text-align: center;
    background-color: rgb(180, 130, 227);
    color: white;
    padding: 10px 30px;
}

footer p{
    margin: 0;
}

.body{
    background-color: rgb(224, 214, 233);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main{
    flex: 1;
}