

.bodyinad{
    background-color: rgb(224, 214, 233);

}
.navinad {
   height: 50px;
}


.bienvenidoinad{ 
    text-align: center;
    color: black;
}

.texto1inad{ 
    text-align: center;
    font-family: 'Arial Narrow';
    color:hwb(271 1% 76%);
}

