.navbar{
    height: 50px;
}

.bienvenida{
    text-align: center;
    color: black;
}

footer{
    text-align: center;
    background-color: rgb(180, 130, 227);;
}

.body{
    background-color: rgb(224, 214, 233);
}