
body {
    background-color: #e6e1d9;
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: #e6c46e;
    padding: 15px;
}

.nav-link-custom {
    margin-left: 20px;
    text-decoration: none;
    color: #6b4f2c;
    font-weight: bold;
}


.hero {
    padding: 80px 20px;
}


.titulo {
    font-size: 60px;
    font-weight: bold;
    color: #8b6b3f;
}


.linea {
    width: 200px;
    margin: 10px auto;
    border: 2px solid #8b6b3f;
}


.descripcion {
    max-width: 600px;
    margin: auto;
    font-size: 14px;
    color: #000;
}


.img-left {
    position: absolute;
    left: 50px;
    bottom: 50px;
    width: 120px;
}

.img-right {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 120px;
}


.footer {
    background-color: #e6c46e;
    padding: 15px 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}