body {
    margin: 0;
    background-color: #f5eef8;
    color: #4a235a;
    font-family: Arial, sans-serif;
}

.custom-navbar {
    background-color: #77438d;
    padding: 12px 20px;
}

.brand-title {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.4rem;
}

.brand-subtitle {
    color: #e8d5f2;
    font-size: 0.9rem;
}


.nav-link {
    color: #f8f9fa ;
    font-weight: 500;
    transition: 0.3s;
}

.nav-link:hover {
    color: #9a4ac9;
    text-decoration: underline;
}

.login-btn {
    background-color: #af42b3;
    color: #4a235a;
    border-radius: 20px;
    padding: 8px 15px;
    font-weight: bold;
    border: none;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #5f2f80;
}

.hero-section {
    padding: 60px 20px;
}

.hero-title {
    font-size: 3rem;
    color: #6c3483;
    font-weight: bold;
}

.hero-text {
    max-width: 500px;
    color: #5b2c6f;
    font-size: 1.1rem;
}

.hero-btn {
    background-color: #8e44ad;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    transition: 0.3s;
}

.hero-btn:hover {
    background-color: #6c3483;
}

/* TARJETAS */
.info-section {
    margin-top: 40px;
}

.info-card {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.info-card h3 {
    color: #7d3c98;
}

.info-card p {
    color: #5b2c6f;
}

/* FOOTER */
.footer-section {
    background-color: #4a235a;
    padding: 20px;
    margin-top: 40px;
}

.footer-link {
    margin: 10px;
    color: #b37fb9;
    text-decoration: none;
    transition: 0.3s;
}

.footer-link:hover {
    color: #742f62;
}